@use '@/styles/scss/abstracts/' as *;

.articleMain {
  text-align: center;

  .imageBox {
    height: 65vh;
    overflow: hidden;
    position: relative;
  
    .nextImage {
      object-fit: cover;
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
    }
  }

  .articleContent {
    padding: 0rem;
    margin: 0rem;

    h2 {
      font-size: 1em;
      color: $primaryColor;
    }
  }
}

.articleFooter {
  padding-bottom: 1rem;
  text-align: center;
}

@media (max-width: 675px) {
  .articleContent h2 {
    font-size: 1.2em !important;
  }
}