@use '@/styles/scss/abstracts/' as *;

.articleMain {
  display: flex;
  flex-direction: column;

  .imageBox {
    height: 65vh;
    overflow: hidden;
    position: relative;
    border: 1px solid #000000b7;
    border-radius: 6px;
    transition: box-shadow 0.3s ease, transform 0.3s ease, border 0.3s ease;

    &:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
    border: 1px solid #f0f0f0;
  }
  
    .nextImage {
      object-fit: cover;
      border-radius: 6px;
    }
  }

  .articleContent {
    padding: 0.5rem;
    text-align: left;

    h2 {
      font-size: 1em;
      color: $primaryColor;
      margin: 0;
    }
  }
}

.articleFooter {
  padding: 0.5rem 1rem 1.2rem;
  display: flex;
  justify-content: flex-end;

  button {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  button:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
    transform: translateY(-2px);
  }
}

@media (max-width: 675px) {
  .articleContent h2 {
    font-size: 1.2em !important;
  }
}