@use '@/styles/scss/abstracts/' as *;

.articleMain {
  display: flex;
  flex-direction: column;

  .imageBox {
    height: 65vh;
    overflow: hidden;
    position: relative;
  
    .nextImage {
      object-fit: cover;
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
    }
  }

  .articleContent {
    padding: 0.5rem;
    text-align: left;

    h2 {
      font-size: 1em;
      color: $primaryColor;
      margin: 0;
    }
  }
}

.articleFooter {
  padding: 0.5rem 1rem 1.2rem;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 675px) {
  .articleContent h2 {
    font-size: 1.2em !important;
  }
}