// VARIABLES
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

// MAIN COLORS
$primaryColor: #450707;
$complementaryColor: #f9fafb;
$highlightColor: #d1d5db;
$brandColor: #4338ca;
$brandSkewColor: goldenrod;
$dangerColor: #7f1d1d;
$dangerHighlight: #be123c;

$primaryGradient:
  radial-gradient(
    circle at 20% 30%,
    lighten($primaryColor, 25%) 0%,
    transparent 50%
  ),
  radial-gradient(
    circle at 80% 70%,
    lighten($primaryColor, 15%) 0%,
    transparent 55%
  ),
  linear-gradient(
    135deg,
    darken($primaryColor, 15%),
    $primaryColor
  );

$secondaryGradient: radial-gradient(
  ellipse at center,
  lighten($primaryColor, 30%) 0%,
  $primaryColor 70%,
  darken($primaryColor, 30%) 100%
);

$thirdGradient: linear-gradient( to right, $primaryColor 0%, lighten($primaryColor, 20%) 50%, $primaryColor 100% );

$footerGradient: linear-gradient(
  to bottom,
  darken($primaryColor, 25%) 0%,
  darken($primaryColor, 15%) 4%,
  darken($primaryColor, 5%) 4%,
  $primaryColor 28%,
  $primaryColor 100%
);