@use '@/styles/scss/abstracts/' as *;

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $primaryGradient;
}

.main {
  margin: 0 auto;
  // margin-top: 10vh;
  width: 100%;
  flex: 1;
}