@use '@/styles/scss/abstracts/' as *;

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-color: rgba($primaryColor, 0.6);
  height: 10vh;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.brand {
  font-size: 2.3rem;
  font-weight: 700;
  color: $complementaryColor;

  img {
    width: 220px;
    filter: brightness(0) invert(1);

    &:hover {
      filter: brightness(0) saturate(100%) invert(12%) 
          sepia(100%) saturate(6000%) hue-rotate(0deg) brightness(85%);
    }
  }
}

.logoMain {
  cursor: pointer;

  &:hover {
    color: $brandSkewColor;
    text-shadow: 0 0 20px $dangerColor, 0 0 20px $dangerColor;
    transition: 0.1s;
  }
}

.hamburger {
  display: none; // hidden on desktop
  background: none;
  border: none;
  cursor: pointer;
  color: $highlightColor;
  z-index: 1001;
}

.nav {
  display: flex;
}

.navList {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navList li {
  margin-left: 3rem;
}

.navList a {
  text-decoration: none;
  text-transform: uppercase;
  color: $highlightColor;
  font-weight: 700;
  font-size: 1.8rem;

  &:hover {
    color: $complementaryColor;
  }
}

.blend {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2.5px;
    background-color: $complementaryColor;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  &:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}

/* MOBILE */
@media (max-width: 675px) {
  .hamburger {
    display: block; // show hamburger
  }

  .nav {
    display: block;
    position: fixed;
    top: 10vh;
    left: 0;
    width: 100%;
    background-color: rgba($primaryColor, 0.6);
    text-align: center;
    overflow: hidden;
    max-height: 0;          // hidden initially
    opacity: 0;             // invisible initially
    transition: max-height 0.4s ease, opacity 0.4s ease; // smooth slide + fade
    z-index: 999;
  }

  .nav.open {
    max-height: 500px; // enough for 3-4 links
    opacity: 1;        // fade in
  }

  .navList {
    flex-direction: column;
    display: flex;
    margin: 0;
    padding: 1rem 0;
  }

  .navList li {
    margin: 1rem 0;
  }

  .navList a {
    font-size: 1.5rem;
  }

}
