@use '@/styles/scss/abstracts/' as *;

.footer {
  width: 100%;
  height: 10vh;
  color: $complementaryColor;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  background: $thirdGradient;
  padding: 0 10%;
}

.logoMain {
  
  &:hover {
    color: $brandSkewColor;
    transition: 0.1s;
    text-shadow: 0 0 6px $dangerColor;
  }
}

.blend {
  position: relative;
}

.blend::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2.5px;
  border-radius: 4px;
  background-color: $complementaryColor;;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.blend:hover::before {
transform-origin: left;
transform: scaleX(1);
}

@media (max-width: 675px) {
  .logoMain {
    display: none;
  }

  .footer {
    justify-content: space-evenly;
  }
}

