@use '@/styles/scss/abstracts/' as *;

.footer {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primaryColor;
  padding: 0 10%;

  .gitIcon {
    margin-left: 2.4rem;
  }

  .brand {
    font-size: 1.4rem;
    // margin-top: 6px;
    font-weight: 700;
    color: $complementaryColor;
  
    .logoEnds {
      color: $brandColor;
    }
  
    .logoMain {
      color: $complementaryColor;
  
      &:hover {
        color: $brandSkewColor;
        transition: 0.1s;
        text-shadow: 0 0 20px $dangerColor, 0 0 20px $dangerColor, 0 0 20px $dangerColor;
      }
    }
  }

  nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: baseline;
    }
  
    li {
      margin-left: 3rem;
      // margin-top: 6px;
    }
  
    a {
      color: $highlightColor;
      font-size: 1.4em;
      font-weight: 400;
      text-decoration: none;

      span {
        font-weight: 700;
      }
  
      &:hover, &:active {
        color: $complementaryColor;
      }
    }
  }
}

.blend {
  position: relative;
}

.blend::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: $complementaryColor;;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.blend:hover::before {
transform-origin: left;
transform: scaleX(1);
}

@media (max-width: 675px) {
  .logoMain {
    display: none;
  }

  .footer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer nav ul li {
    display: table;
    margin: 0 auto;
    padding-bottom: 6px;
  }

  .footer .blend {
    font-size: 2rem;
  }

  .gitIcon {
    margin-right: 2.4rem;
  }

}

