@use '@/styles/scss/abstracts/' as *;

%card {
  background: linear-gradient(
  to right,
  #999999 0%,        /* subtle dark edge left */
  #aaaaaa 15%,       /* start smooth blending */
  #c8c8c8 35%,       /* lighter mid-left */
  #d3d3d3 50%,       /* lightest center */
  #c8c8c8 65%,       /* mid-right */
  #aaaaaa 85%,       /* smooth transition to edge */
  #999999 100%       /* subtle dark edge right */
);
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.9);

  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.singleCard {
  @extend %card;
  margin: 100px auto 40px auto;
  max-width: 30rem;
}

.gridCard {
  @extend %card;
}