@use '@/styles/scss/abstracts/' as *;

%card {
  background: linear-gradient(
    to right,
    #999999 0%,       /* subtle dark edge left */
    #bbbbbb 20%,      /* start blending into light */
    #d0d0d0 40%,      /* approaching light center */
    #d3d3d3 50%,      /* light center */
    #d0d0d0 60%,      /* blending right side */
    #bbbbbb 80%,      /* smooth transition to edge */
    #999999 100%      /* subtle dark edge right */
  );
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.9);

  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.singleCard {
  @extend %card;
  margin: 3rem auto;
  max-width: 30rem;
}

.gridCard {
  @extend %card;
}