@use '@/styles/scss/abstracts/' as *;

.articleMain {
  text-align: center;

  .imageBox {
    height: 35vh;
    overflow: hidden;
    position: relative;

    .nextImage {
      object-fit: cover;
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
    }
  }
  
  .articleContent {
    padding: 0 1rem 2.4rem 1rem;
    margin: 0;
    

    h1 {
      font-size: 1.5em;
      color: $primaryColor;
    }

    h2, h3 {
      font-weight: normal;
      text-align: left;
    }

    p {
      text-align: left;
      font-weight: bold;
      text-shadow: 0 0 3px #f0f0f0;
    }

    span {
      background-color: goldenrod;
      padding: 4px 6px;
      border-radius: 4px;
    }

    &::after {
    content: "";
    display: block;
    height: 1px;
    background: rgba(60, 60, 60, 0.279);
    margin: 1rem 0 0;
  }

  }
}

.articleFooter {
  padding-bottom: 2rem;
  text-align: center;

  button {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  button:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
    transform: translateY(-2px);
  }
}

.back {
  background: $secondaryGradient;
  padding: 1px;
}

@media (max-width: 675px) {
  .articleContent h1 {
    font-size: 1.3em !important;
  }
}