@use '@/styles/scss/abstracts/' as *;

.articleMain {
  text-align: center;

  .imageBox {
    height: 45vh;
    overflow: hidden;
    position: relative;

    .nextImage {
      object-fit: cover;
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
    }
  }
  
  .articleContent {
    padding: 1rem;
    margin: 0rem;

    h1 {
      font-size: 2.3em;
      color: $primaryColor;
    }

    h3 {
      text-align: left;
      margin-bottom: 6px;
    }

    p {
      text-align: left;
      font-size: 1.1rem;
      margin: 0;
      padding-bottom: 14px;
      font-weight: bold;
      text-shadow: 0 0 3px #f0f0f0;

      &:empty {
        display: none;
      }
    }

    span {
      background-color: goldenrod;
      padding: 4px;
      border-radius: 4px;
    }

  }
}

.articleFooter {
  padding-bottom: 2rem;
  text-align: center;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // gap: 2rem;
}

.back {
  background: $primaryGradient;
  padding: 1px;
}