@use '@/styles/scss/abstracts/' as *;

.articleMain {
  text-align: center;

  .imageBox {
    height: 45vh;
    overflow: hidden;
    position: relative;

    .nextImage {
      object-fit: cover;
      border-radius: 4px;
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
    }
  }
  
  .articleContent {
    padding: 1rem;
    margin: 0rem;

    h1 {
      font-size: 2.3em;
      color: $primaryColor;
    }

    h2, h3 {
      text-align: left;
    }

    p {
      text-align: left;
    }

    span {
      background-color: goldenrod;
      padding: 4px 6px;
    }

  }
}

.articleFooter {
  padding-bottom: 2rem;
  text-align: center;
}

.back {
  background: $primaryGradient;
  padding: 1px;
}