@use '../abstracts/' as *;

html, body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 765px) {
  body, html {
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }
}