@use '@/styles/scss/abstracts/' as *;

.showcase {
  background: no-repeat center/cover;  
  // bg-image is passed in as dynamic prop in Hero.jsx
  height: 100vh;
  color: $complementaryColor;

  .overlay {
    background-color: rgba(0, 0, 15, 0.7);
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding-left: 10rem;

    img {
      width: 340px;
    }

    h1 {
      font-size: 4em;
      font-weight: 400;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 0;


      span {
        font-weight: 700;
        color: goldenrod;
        text-shadow: 0 0 20px #333333, 0 0 20px #000000;
      }
    }

    p {
      font-size: 1.6em;
      font-weight: 300;
      margin: 0;
      padding: 0;
      text-shadow: 0 0 20px #333333, 0 0 20px #000000;
    }
  }
}

@media (max-width: 675px) {
  .showcase .overlay {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .overlay h1 {
    margin-top: 6rem !important;
  }

  .overlay p {
    width: 90%;
    font-size: 1.6rem !important;
  }
}