@use '@/styles/scss/abstracts/' as *;

.showcase {
  background: no-repeat center/cover;  
  // bg-image is passed in as dynamic prop in Hero.jsx
  height: 100vh;
  color: $complementaryColor;

  .overlay {
    background-color: rgba(0, 0, 15, 0.7);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 390px;

    img {
      width: 320px;
      filter: brightness(0) invert(1);
    }

    h1 {
      font-size: 4em;
      font-weight: 400;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 0;
      padding-top: 290px;
      color: goldenrod;

      span {
        font-weight: 700;
        color: goldenrod;
        text-shadow: 0 0 20px #333333, 0 0 20px #000000;
      }
    }

    p {
      font-size: 2em;
      font-weight: 300;
      margin: 0;
      padding: 0;
      text-shadow: 0 0 20px #333333, 0 0 20px #000000;

      span {
        text-decoration: underline;
      }
    }
  }
}

.spanItalic {
  text-decoration: none !important;
  font-style: italic;
  font-weight: 700;
  color: $primaryColor !important;
  background-color: goldenrod;
  text-shadow: none;
  padding: 1px 10px 3px 6px;
  border-radius: 4px;
}

@media (max-width: 675px) {

  .showcase .overlay p {
    width: 80%;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
  }

  .showcase .overlay span {
    text-decoration: none !important;
  }
}